composer.phar
.DS_Store
Thumbs.db
.settings
.project
.buildpath
vendor/.git
.env*.php*
.idea
.crt
.key

environment/*
www/*
logs/*
docker/data/*
docker/config/apache/apache-selfsigned.crt
docker/config/apache/apache-selfsigned.key

!www/.gitkeep
!docker/data/.gitkeep
!logs/.gitkeep
!environment/sample.env
